@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Pacifico&family=Varela+Round&display=swap');

body{
    background-color: #ece2d0;
    height: 100%;
    width: 100%;
    margin: 0;
    color: #a26769;
}
h1{
    font-family: 'Pacifico', cursive;
    color: #6d2e46;
    font-size: 4.3em !important; 
}
h2{
    font-family: 'Varela Round', sans-serif;
    font-size: 2.5em;
}
#game{
    text-align: center;
    display: block;
    /* border:1px solid #ffb703; */
    height: 100px;
}
#buttons{
    display: flex;
    display: block;
    height: fit-content;
    margin-left: -20px;
    /* border: 1px solid green; */
}
input{
    margin:2em;
}
#rock{
    height: 300px;
}
#paper{
    height: 300px;
    /* width: auto; */
}
#scissors{
    height: 300px;
}